@import "../../global.scss";

li {
    font-size: 20px;
    margin-right: 50px;
    padding: 7px;
    cursor: pointer;
    
    &.active {
      background-color: darkblue;
      color: white;
      border-radius: 10px;
    }
}